/* Reset styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2b2b2b;
}

/* Container styles */
.container {
    top: 50%;    
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input group styles */
.input-group {
    margin-bottom: 10px;
}

/* Input and button styles */
input[type="text"],
button {
    width: calc(25% - 10px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

input {
    margin: 20px;
}

/* Button styles */
button {
    background-color: #ca2271;
    color: #fff;
    cursor: pointer;
}

/* Button hover styles */
button:hover {
    background-color: #88174b;
}

.add-button{
    margin-left: 30px;
    width: 100px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table header styles */
thead {
    background-color: #ca2271;
    color: #fff;
}

/* Table header cell and body cell styles */
thead th,
tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Hover effect for table rows */
tbody tr:hover {
    background-color: #f2f2f2;
}
