<!-- <h2>ng Directives using *ngIf Condition</h2> 

<div *ngIf="showText">
    This is text ius shown when show textText is True!
</div>

<button (click)="toggleText()">Toggle Text</button>

<hr>

<button (click)="toggleText()">
    {{ showText ? 'Hide Text' : 'Show Text'}}
</button> -->


<div class="container" *ngIf="showText" style="margin-top: 80px;"> 
    <table class="table table-striped table-bordered" border = "1"> 
        <thead> 
            <tr> 
                <th>Name</th> 
                <th>Anime</th> 
                <th>Price</th> 
            </tr> 
        </thead> 
            <tbody> 
                <tr *ngFor="let user of product"> 
                <td>{{user.firstName}} {{user.lastName}}</td> 
                <td>{{user.anime}}</td> 
                <td>{{user.price}}</td> 
            </tr> 
            </tbody> 
    </table> 
</div> 

<button (click)="toggleText()" style="margin-top: 100px;">
    {{ showText ? 'Hide Table' : 'Show Table'}}
</button>
