<section class="bg-dark" style="padding-top: 56px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="{{imageUrl}}" img width="{{imageW}}" img height="{{imageH}}" class="mx-auto d-block" alt="jenna-pfp...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">Jenna Ella Pangilinan</h3>
                                    <span class="text-light" style="display: block; text-align: center; font-style: italic;">Inspired Designer</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <br>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span> {{position}}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Experience:</span> {{work_experience}} Years</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{email}}</li>
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> {{phone}}</li>
                                </ul>
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div>
                    <span class="section-title text-light mb-3 mb-sm-4" style="font-size: 20px;"><b>ABOUT ME</b></span>
                    <p style="color: white;">I am 21 years old and 3rd year student in BS Information Technology Major in Web Development.</p>
                    <p class="mb-0" style="color: white;">I have joined to publication called "Cor Unum" in High School and I have the role of Layout Artist and Illustrator. In college, I am the current Multimedia and Creatives Head in Code Geeks Organization.</p>
                </div>
            </div>
            <div class="col-lg-12" style="color: white;">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div class="mb-4 mb-sm-5">
                            <span class="section-title text-light mb-3 mb-sm-4" style="font-size: 20px;"><b>SKILLS</b></span>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">HTML</div>
                                    <div class="col-6 text-end">80%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                            </div>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">CSS</div>
                                    <div class="col-6 text-end">80%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                            </div>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">Video Editing</div>
                                    <div class="col-6 text-end">75%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                            </div>
                            <div class="progress-text">
                                <div class="row">
                                    <div class="col-6">Layout Editing</div>
                                    <div class="col-6 text-end">85%</div>
                                </div>
                            </div>
                            <div class="custom-progress progress progress-medium" style="height: 4px;">
                                <div class="animated custom-bar progress-bar slideInLeft bg-secondary" style="width:85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                            </div>
                        </div>
                        <div>
                            <span class="section-title text-light mb-3 mb-sm-4" style="font-size: 20px;"><b>EDUCATION</b></span>
                            <p>From kinder to Grade 12, I studied at Holy Family Academy, and I am currently studying at Holy Angel Universiity.</p>
                            <p class="mb-1-9">All my experiences in Holy Family Academy helped me to become better artist or designer. Not only to art-related, my academics were improved as the time passed by.</p>
              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
